<ion-header no-border>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let message of messages; let i = index">
    <ion-card mode="ios" color="danger" *ngIf="i % 2 == 0">
      <ion-card-title><ion-item color="danger">
        <ion-label>{{message.name}}</ion-label>
      </ion-item></ion-card-title>
      <ion-card-content>
        {{message.message}}
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" *ngIf="i % 2 != 0">
      <ion-card-title><ion-item>
        <ion-label>{{message.name}}</ion-label>
      </ion-item></ion-card-title>
      <ion-card-content>
        {{message.message}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="user" type="text" placeholder="Mensaje..."></ion-input>
      <ion-button fill="clear" (click)="send()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>